<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/rclogo_ss.svg" alt="Reinier Caron logo" class="db w5 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2"> subscribe</p>
			<p>Get notified by mail when I have interesting news.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-around">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Go To</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Dev Tech</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">My Links</h3>
				<ul class="mb3">
					<li><a href="https://github.com/ReinierC" class="link">Find me on Github</a></li>
					<li><a href="http://www.reiniercaron.nl" class="link">My Portfolio</a></li>
				</ul>
			</div>
			
		</div>
	</div>

</footer>


<script src="/app.js"></script>

</body>

</html>
